.options {
    list-style: none;
    display: flex;
    justify-content: center;
}

.options li {
    padding: 20px;
}

.btn {
    background-color:white !important;
    border: none !important;
    color: #0EA7AF !important;
}

.btn:hover {
    background-color:#0EA7AF!important;
    color: white !important;
}


