.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color:white !important;
    border: none !important;
    color: #0EA7AF !important;
    font-size: 1.5rem !important;
    margin: 15px;
    width: 400px;
}

.btn:hover {
    background-color:#0EA7AF!important;
    color: white !important;
}

.next {
    display: none !important;
}


