.App {
  text-align: center;
}

.Content {
  background-color: #E9E3E2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #2D8287;
  margin: 20px;
}

.welcome {
  font-size: 4rem;
  padding: 40px;
}

.font {
  font-size: 3rem;
  padding: 40px;
}